/* CSS declarations go here */
@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.25em;
  }
  img {
    width: 100%;
  }
  
  div.landing-page {
    font-size: 1.5em;
  }
  div.landing-page a {
    color: #0077e6;
  }
}

html, body {
  margin-top: 50px;
  background-color: #e6e6e6;
  height: 100%;
}

ul {
  padding: 0%;
  list-style-type: none;
}

img {
  padding: 4px;
}

.navbar-custom {
  background: #fff;
  font-size: 1.5em;
}

.navbar-brand {
  font-size: 1.10em;
}

.landing-page {
  text-align: center;
  font-size: 3.0em;
}

.landing-page a {
  color: #0077e6;
}

.contact-form {
  margin: 10%;
}

.reviews-page {
  margin-top: 0;
  margin-left:  10%;
  margin-right: 10%;
}

.reviews-list {
  margin-top: 0;
  margin-left: 10%;
  margin-right: 10%;
}

.name-location-date-line {
  width: 85%;
  font-size: 1.25em;
  color: #0077e6;
}

.review-date {
  color: black;
  font-size: 1.25em;
  margin-left: 0%;
}

.review-line {
  color: #4d4d4d;
  font-size: 1.25em;
  width: 85%;
}

.eddies-work-page {
  text-align: center;
  padding: 10px;
}

.contact-form {
  margin: 0 auto;
  width: 40%;
}

.admin-login {
  text-align: center;
}

.admin-page {
  text-align: center;
}

.admin-page a {
  color: #0077e6;
}

.contacts-list {
  font-size: 1.5em;
  color: #4d4d4d;
  margin-top: 0;
  margin-left: 10%;
  margin-right: 10%;
  width: 50%;
  padding: 20px;
}

.contacts-name-line {
  color: #0077e6;
}

.contacts-date-line {
  color: black;
}

.falcondb {
  text-align: center;
}

.falcondb h1 {
  color: #0077e6;
}

.upload-images {
  text-align: center;
}

footer {
  text-align: center;
  width: 100%;
  height: 150px;
  color: black;
  background-color: #aaa;
}

.nav.navbar-left>li>a:hover {
  color: #0077e6;
}

.navbar-brand a {
  text-decoration: none;
  color: #595959;
}

.navbar-brand a:hover {
  color: #0077e6;
}
